{% extends "base.html" %}
{% block body %}
    <h1>About</h1>
    <p>Use Trap Tracker to monitor your pest traps. Simply create a new trap line, add traps online or in the app, and start tracking. Two passwords are required, one for users to enter data about what they've found in the traps, and one admin password for trap line maintenance. You can also select the three most common pests found on your line (or create your own) to make it easier to enter data in the app.</p>
    <p>Get the app for Android from Google Play or iOS from the App Store.</p>
    <p>Trap Tracker was developed as part of a software engineering capstone project at Massey University in 2016.</p>
{% endblock %}