{% extends "base.html" %}
{% block body %}
    <h1>Catches for {{name}}</h1>

        <form id="catch_form" hidden>
            <input type="hidden" id="eid" name="eid" value="" />
            Time
            <input type="text" id="etime" name="etime" placeholder="Time (DD/MM/YYYY)" /><br>
            Trap ID
            <input type="text" id="etrapid" name="etrapid" placeholder="Trap ID" /><br>
            Animal
            <input type="text" id="eanimalid" name="eanimalid" placeholder="Animal ID" /><br>
            <input id="submitbtn" type="button" value="Submit" />
        </form>

        <input id="addbtn" type="button" value="Add New" />
        <input id="deletebtn" type="button" value="Delete" />
        <table id="catch_table">
        <thead><tr>
            <th>ID</th>
            <th class="left">Date</th>
            <th class="left">Trap ID</th>
            <th class="left">Animal</th>
            <th></th>
        </tr></thead>
        <tbody></tbody>
        </table>

        <a class="button" href="/export/{{number}}">Export data</a>

        <script>
            var table = null;
            $('document').ready(function(){
                refresh_catches();

                $('#catch_table tbody').on( 'click', 'tr', function () {
                    if ( $(this).hasClass('selected') ) {
                        $(this).removeClass('selected');
                        $('#catch_form').hide();
                    }
                    else {
                        adding = false;
                        table.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                        data = table.row('.selected').data();
                        document.getElementById('eid').value = data['id'];
                        document.getElementById('etime').value = timestamp2DDMMYYYY(data['time']);
                        document.getElementById('etrapid').value = data['trapId'];
                        document.getElementById('eanimalid').value = data['animalId'];
                        $('#catch_form').show();
                    }
                } );

                $('#deletebtn').click( function () {
                    //table.row('.selected').remove().draw( false );
                    data = table.row('.selected').data();
                    with_auth(2, function(){
                        delete_catch(data);
                    });
                } );

                $('#addbtn').click(function(){
                    //TODO: maybe display a message while in adding mode
                    with_auth(1, function(){
                        adding = true;
                        document.getElementById("catch_form").reset();
                        $('#catch_form').show();
                    });
                });

                $('#submitbtn').click(function(){
                    if (adding) {
                        var cat = get_new_catch_data()
                        delete cat['id'];
                        cat['lineId'] = {{line_id}};
                        with_auth(1, function(){
                            submit_catch(cat);
                        });
                        adding = false;
                        $('#catch_form').hide();
                    } else {
                        var cat = get_new_catch_data();
                        with_auth(1, function(){
                            submit_catch(cat);
                        });
                        $('#catch_form').hide();
                    }
                });
            });

            function get_new_catch_data() {
                var cat = {};
                cat['id'] = parseInt(document.getElementById('eid').value);
                cat['trapId'] = parseInt(document.getElementById('etrapid').value);
                cat['animalId'] = parseInt(document.getElementById('eanimalid').value);
                cat['time'] = DDMMYYYY2timestamp(document.getElementById('etime').value);
                return cat;
            }

            function delete_catch(cat) {
                var retVal = confirm("Are you sure you want to delete the selected catch?");
                if( retVal!=true){
                    return false;
                }
                delete_data = {'lineId': {{line_id}}, 'password': '{{password}}', 'catches': [cat['id']]};
                $.ajax({
                    type: "DELETE",
                    url: "/api/catch",
                    contentType: "application/json",
                    data: JSON.stringify(delete_data),
                    error: function(xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                }).done(function(data, statusText, xhr){
                    var status = xhr.status;                //200
                    var head = xhr.getAllResponseHeaders(); //Detail header info
                    console.log(status);
                    console.log(data);
                    refresh_catches();
                });
                return true;
            }

            function submit_catch(cat) {
                put_data = {'lineId': {{line_id}}, 'password': '{{password}}', 'catches': [cat]};
                // TODO: get password from cookie or something, generated when logging in, request login if not present

                $.ajax({
                    type: "PUT",
                    url: "/api/catch",
                    contentType: "application/json",
                    data: JSON.stringify(put_data),
                    error: function(xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                }).done(function(data, statusText, xhr){
                    var status = xhr.status;                //200
                    var head = xhr.getAllResponseHeaders(); //Detail header info
                    console.log(status);
                    console.log(data);
                });

                refresh_catches();
            }

            function refresh_catches(){
                $.ajax({
                    type: "GET",
                    url: "/api/catch?line_id={{line_id}}",
                }).done(function(data, statusText, xhr){
                    var status = xhr.status;                //200
                    var head = xhr.getAllResponseHeaders(); //Detail header info
                    console.log(status);
                    console.log(data);
                    if (status==200) {
                        data = data['result']
                        keys = ['time','trapId','animalId'];

                        // TODO: change the way the table is populated to use https://datatables.net/reference/api/rows.add()
                        if (table==null){
                            table = $('#catch_table').DataTable({
                                "columns": [
                                    {"data": "id", "orderable": false, "visible": false},
                                    {"data": "time", "orderable": true, "render": timestamp2DDMMYYYY},
                                    {"data": "trapId", "orderable": true},
                                    {"data": "animalId", "orderable": true}
                                ],
                                "order": [[1, 'asc']],
                                paging: true,
                                searching: true
                            });
                        }
                        make_table('catch_table', data, keys);
                    }
                });
            }

            function make_table(table_id, data, keys) {
                table.clear();
                table.rows.add(data);
                table.draw();
            }
        </script>
{% endblock %}