{% extends "base.html" %}
{% block body %}
    <h1>Trap Tracker</h1>

    <table id="lines">
        <thead>
        <tr>
            <th class="left">Trap Line Name</th>
            <th class="ten"></th>
            <th class="ten"></th>
            <th class="ten"></th>
        </tr>
        </thead>
        <tbody>
        {% for line in lines %}
        <tr>
            <td>{{line.name}}</td>
            <td><a href="/edit/{{line.id}}">Traps</a></td>
            <td><a href="/catches/{{line.id}}">Catches</a></td>
            <td><a href="/settings/{{line.id}}">Settings</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#lines').dataTable({
                "columns": [
                {"name": "name", "orderable": true},
                {"name": "edit", "orderable": false},
                {"name": "catches", "orderable": false},
                {"name": "settings", "orderable": false},
                ],
                "order": [[0, 'asc']],
                paging: true,
                searching: true
            });
        });
    </script>

{% endblock %}
