{% extends "base.html" %}
{% block body %}
    <h1>Traps in {{name}}</h1>
    <table id="trap_table">
    <tr>
        <th hidden>ID</th>
        <th class="left">Number</th>
        <th class="left">Latitude</th>
        <th class="left">Longitude</th>
        <th class="left">Path Side</th>
        <th class="left">Broken</th>
        <th class="left">Moved</th>
        <th class="left"></th>
    </tr>
    </table>

    {% if current_user.auth == 2 %}
        <form id="trap_form">
            <input type="hidden" id="eid" name="eid" value="" />
            Number
            <input type="text" id="enumber" name="enumber" placeholder="number" /><br>
            Latitude
            <input type="text" id="elatitude" name="elatitude" placeholder="latitude" /><br>
            Longitude
            <input type="text" id="elongitude" name="elongitude" placeholder="longitude" /><br>
            Path Side
            <input type="text" id="epath_side" name="epath_side" placeholder="path_side" /><br>
            <input type="checkbox" id="ebroken" name="ebroken" />Broken<br>
            <input type="checkbox" id="emoved" name="emoved" />Moved<br>
            <input id="editbtn" type="button" value="Edit" />
            <input id="addbtn" type="button" value="Add New" />
        </form>
    {% endif %}

    <script>
        function link_edit() {
            $('.edit').click(function() {
                    var parent = $(this).parent();
                    document.getElementById('eid').value = parent.attr('id');
                    document.getElementById('enumber').value = parent.find('.number').text();
                    document.getElementById('elatitude').value = parent.find('.latitude').text();
                    document.getElementById('elongitude').value = parent.find('.longitude').text();
                    document.getElementById('epath_side').value = parent.find('.side').text();
                    document.getElementById('ebroken').checked = parent.find('.broken').text() == "yes";
                    document.getElementById('emoved').checked = parent.find('.moved').text() == "yes";
            });
        }
    </script>

    <script>
        $('document').ready(function(){
            refresh_traps();
        });

        $('#editbtn').click(function(){
            console.log('submitted');
            var trap = get_new_trap_data()
            submit_trap(trap);
        });

        $('#addbtn').click(function(){
            console.log('submitted');
            var trap = get_new_trap_data()
            delete trap['id'];
            trap['lineId'] = {{line_id}};
            submit_trap(trap);
        });

        function get_new_trap_data() {
            var trap = {};
            trap['id'] = parseInt(document.getElementById('eid').value);
            trap['rebaitTime'] = Date.now();
            trap['number'] = parseInt(document.getElementById('enumber').value);
            trap['latitude'] = parseFloat(document.getElementById('elatitude').value);
            trap['longitude'] = parseFloat(document.getElementById('elongitude').value);
            trap['side'] = document.getElementById('epath_side').value==='Left';
            trap['broken'] = document.getElementById('ebroken').checked;
            trap['moved'] = document.getElementById('emoved').checked;
            return trap;
        }

        function submit_trap(trap) {
            put_data = {'lineId': {{line_id}}, 'password': 'password', 'traps': [trap]};
            // TODO: get password from cookie or something, generated when logging in, request login if not present

            $.ajax({
                type: "PUT",
                url: "/api/trap",
                contentType: "application/json",
                data: JSON.stringify(put_data),
                error: function(xhr, status, error) {
                    console.log(xhr.responseText);
                }
            }).done(function(data, statusText, xhr){
                var status = xhr.status;                //200
                var head = xhr.getAllResponseHeaders(); //Detail header info
                console.log(status);
                console.log(data);
            });

            refresh_traps();
        }

        function refresh_traps(){
            $.ajax({
                type: "GET",
                url: "/api/trap?line_id={{line_id}}",
            }).done(function(data, statusText, xhr){
                var status = xhr.status;                //200
                var head = xhr.getAllResponseHeaders(); //Detail header info
                console.log(status);
                console.log(data);
                if (status==200) {
                    data = data['result']
                    keys = ['number', 'latitude', 'longitude', 'side', 'broken', 'moved'];
                    headings = ['Number', 'Latitude', 'Longitude', 'Path Side', 'Broken', 'Moved', ''];

                    make_table('trap_table', data, keys, headings)
                }
                link_edit();
            });
        }

        function make_table(table_id, data, keys, headings) {
            //not sure how easily reusable this is atm for catches
            //but can make it more general if needed
            //possibly move to base.html
            var tbl_body = document.getElementById(table_id);
            var tbl_row = "";
            headings.forEach(function(h) {
                tbl_row += "<th class=\"left\">"+h+"</th>";
            });
            tbl_body += "<tr>" + tbl_row + "</tr>";
            var odd_even = false;
            data.forEach(function(trap) {
                var tbl_row = "";
                keys.forEach(function(k) {
                    var v = trap[k];
                    switch(k) {
                        case 'side':
                            v = v ? 'Left' : 'Right';
                            break;
                        case 'broken':
                        case 'moved':
                            v = v ? 'yes' : 'no';
                            break;
                        default:
                            break;
                    }
                    tbl_row += "<td class=\""+k+"\">"+v+"</td>";
                })
                tbl_row += "<td class=\"edit\" style=\"cursor:pointer;\">Edit</td>"
                tbl_body += "<tr id=\""+trap['id']+"\" class=\""+( odd_even ? "odd" : "even")+"\">"+tbl_row+"</tr>";
                odd_even = !odd_even;
            })
            $("#"+table_id+" tbody").html(tbl_body);
        }
    </script>


    <div id="map" style="width: 600px; height: 400px;"></div>


    <script type="text/javascript">
        var map = new L.Map('map');

        // create the tile layer with correct attribution
        var osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            minZoom: 8,
            maxZoom: 19,
            attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'});

        // start the map in South-East England
        map.setView(new L.LatLng({{avg[0]}}, {{avg[1]}}),15);


        {% for trap in traps %}
            L.marker([{{trap.lat}}, {{trap.long}}]).addTo(map).bindPopup(
            "Lat: {{trap.lat}}<br />" +
            "Long: {{trap.long}}<br />" +
            "Number: {{trap.line_order}}");
        {% endfor %}

        map.addLayer(osm);
    </script>
{% endblock %}