{% extends "base.html" %}
{% block body %}
    <h1>Traps in {{name}}</h1>
        <form id="trap_form">
            <h2>Add Trap</h2>
            <input type="hidden" id="eid" name="eid" value="" />
            <label for="enumber">Number:</label>
            <input type="text" id="enumber" name="enumber" placeholder="number" />
            <label for="elatitude">Latitude:</label>
            <input type="text" id="elatitude" name="elatitude" placeholder="latitude" />
            <label for="elongitude">Longitude:</label>
            <input type="text" id="elongitude" name="elongitude" placeholder="longitude" />
            <label for="epath_side">Path Side:</label>
            <select id="epath_side" name="epath_side">
                <option value="Left">Left</option>
                <option value="Right">Right</option>
            </select><br>
            <label for="ebroken">Broken:</label>
            <input type="checkbox" id="ebroken" name="ebroken" /><br>
            <label for="emoved">Moved:</label>
            <input type="checkbox" id="emoved" name="emoved" /><br>
            <input id="submitbtn" type="button" value="Submit" />
        </form>

        <input id="addbtn" type="button" value="Add New" />
        <input id="deletebtn" type="button" value="Delete" />
        <table id="trap_table">
            <thead><tr>
                <th hidden>ID</th>
                <th class="left">Number</th>
                <th class="left">Latitude</th>
                <th class="left">Longitude</th>
                <th class="left">Path Side</th>
                <th class="left">Broken</th>
                <th class="left">Moved</th>
                <th class="left"></th>
            </tr></thead>
            <tbody></tbody>
        </table>

        <script>
            var table = null;
            var adding = false;
            $('document').ready(function(){
                refresh_traps();

                $('#trap_table tbody').on( 'click', 'tr', function () {
                    if ( $(this).hasClass('selected') ) {
                        $(this).removeClass('selected');
                    }
                    else {
                        adding = false;
                        table.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                        data = table.row('.selected').data();
                        document.getElementById('eid').value = data['id'];
                        document.getElementById('enumber').value = data['number'];
                        document.getElementById('elatitude').value = data['latitude'];
                        document.getElementById('elongitude').value = data['longitude'];
                        document.getElementById('epath_side').value = data['side'];
                        document.getElementById('ebroken').checked = data['broken'];
                        document.getElementById('emoved').checked = data['moved'];
                    }
                } );

                $('#deletebtn').click( function () {
                    //table.row('.selected').remove().draw( false );
                    data = table.row('.selected').data();
                    delete_trap(data);
                } );

                $('#addbtn').click(function(){
                    //TODO: maybe display a message while in adding mode
                    adding = true;
                    document.getElementById("trap_form").reset();
                    //console.log('submitted');
                    //var trap = get_new_trap_data()
                    //delete trap['id'];
                    //trap['lineId'] = {{line_id}};
                    //submit_trap(trap);
                });

                $('#submitbtn').click(function(){
                    if (adding) {
                        var trap = get_new_trap_data()
                        delete trap['id'];
                        trap['lineId'] = {{line_id}};
                        submit_trap(trap);
                        adding = false;
                    } else {
                        var trap = get_new_trap_data()
                        submit_trap(trap);
                    }
                });
            });

            function get_new_trap_data() {
                var trap = {};
                trap['id'] = parseInt(document.getElementById('eid').value);
                trap['rebaitTime'] = Date.now();
                trap['number'] = parseInt(document.getElementById('enumber').value);
                trap['latitude'] = parseFloat(document.getElementById('elatitude').value);
                trap['longitude'] = parseFloat(document.getElementById('elongitude').value);
                trap['side'] = document.getElementById('epath_side').value==='Left';
                trap['broken'] = document.getElementById('ebroken').checked;
                trap['moved'] = document.getElementById('emoved').checked;
                return trap;
            }

            function submit_trap(trap) {
                put_data = {'lineId': {{line_id}}, 'password': 'password', 'traps': [trap]};
                // TODO: get password from cookie or something, generated when logging in, request login if not present

                $.ajax({
                    type: "PUT",
                    url: "/api/trap",
                    contentType: "application/json",
                    data: JSON.stringify(put_data),
                    error: function(xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                }).done(function(data, statusText, xhr){
                    var status = xhr.status;                //200
                    var head = xhr.getAllResponseHeaders(); //Detail header info
                    console.log(status);
                    console.log(data);
                    refresh_traps();
                });
            }

            function delete_trap(trap) {
                var retVal = confirm("Are you sure you want to delete the selected trap?");
                if( retVal!=true){
                    return false;
                }
                delete_data = {'lineId': {{line_id}}, 'password': 'password', 'traps': [trap['id']]};
                $.ajax({
                    type: "DELETE",
                    url: "/api/trap",
                    contentType: "application/json",
                    data: JSON.stringify(delete_data),
                    error: function(xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                }).done(function(data, statusText, xhr){
                    var status = xhr.status;                //200
                    var head = xhr.getAllResponseHeaders(); //Detail header info
                    console.log(status);
                    console.log(data);
                    refresh_traps();
                });
                return true;
            }

            function refresh_traps(){
                $.ajax({
                    type: "GET",
                    url: "/api/trap?line_id={{line_id}}",
                }).done(function(data, statusText, xhr){
                    var status = xhr.status;                //200
                    var head = xhr.getAllResponseHeaders(); //Detail header info
                    console.log(status);
                    console.log(data);
                    if (status==200) {
                        data = data['result']
                        keys = ['number', 'latitude', 'longitude', 'side', 'broken', 'moved'];

                        // TODO: change the way the table is populated to use https://datatables.net/reference/api/rows.add()
                        if (table==null){
                            function bool2YesNo(data, type, full, meta){return data ? "Yes" : "No";}
                            function bool2LeftRight(data, type, full, meta){return data ? "Left" : "Right";}
                            table = $('#trap_table').DataTable({
                                "columns": [
                                    {"data": "id", "orderable": false, "visible": false},
                                    {"data": "number", "orderable": true},
                                    {"data": "latitude", "orderable": true},
                                    {"data": "longitude", "orderable": true},
                                    {"data": "side", "orderable": false, "render": bool2LeftRight},
                                    {"data": "broken", "orderable": true, "render": bool2YesNo},
                                    {"data": "moved", "orderable": true, "render": bool2YesNo}
                                ],
                                "order": [[1, 'asc']],
                                paging: true,
                                searching: true
                            });
                        }
                        make_table('trap_table', data, keys);
                    }
                });
            }

            function make_table(table_id, data, keys) {
                table.clear();
                table.rows.add(data);
                table.draw();
            }
        </script>


    <div id="map"></div>


    <script type="text/javascript">
        var map = new L.Map('map');

        // create the tile layer with correct attribution
        var osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            minZoom: 8,
            maxZoom: 19,
            attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'});

        // start the map in South-East England
        map.setView(new L.LatLng({{avg[0]}}, {{avg[1]}}),15);


        {% for trap in traps %}
            L.marker([{{trap.lat}}, {{trap.long}}]).addTo(map).bindPopup(
            "Lat: {{trap.lat}}<br />" +
            "Long: {{trap.long}}<br />" +
            "Number: {{trap.line_order}}");
        {% endfor %}

        map.addLayer(osm);
    </script>
{% endblock %}